body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    padding: 7px 5px;
    margin: 5px;
}

.container {
    background-color: #a8dadc;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top-container {
    background-color: #5aa5c5;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 15px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.7);
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1.1;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container:hover, .bottom-container:hover {
    transform: scale(1.05);
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    background-color: #2b6896;
    padding: 10px;
    border-radius: 5px 2px;
    width: 80%;
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.7);
}

.top {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
}

.input {
    border: none;
    border-radius: 3px;
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#delete, #add-general {
    background-color: red;
    color: white;
}

#add-specific {
    background-color: #2b6896;
    color: white;
}

#search {
    background-color: #5aa5c5;
}

.top-container input {
    width: 50%;
}

.bottom-container input {
    width: 25%;
}

.bottom-container input:focus {
    outline: none;
    width: 70%;
}

hr {
    border: 2px solid rgba(30, 30, 30, 0.7);
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.7);


}

.bottom {
    width: 98%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: fit-content;
}

h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.list {
    background-color: rgb(46, 212, 57);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.7);
    min-height: 20px;
}

.list-item {
    width: 90%;
    padding: 3px 7px;
    margin: 10px auto 20px;
    border-radius: 5px;
}

.list-item:hover{
    cursor: pointer;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.7);
}

.p {
    font-weight: bold;
}

.list-item:hover .p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.fruity {
    background-color: rgb(200,255,200);
}

.fruity .p {
    color: rgb(5, 50, 5);
}

.all {
    background-color: rgb(200,255,255);
}

.all .p {
    color: rgb(5, 50, 50);
}

.veggy {
    background-color: rgb(255,255,200);
}

.veggy .p {
    color: rgb(72, 58, 7);
}

.highlight {
    background-color: rgb(200, 20, 20);
    border: 1px solid white;
}

.highlight .p {
    color: white;
}